
<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<title>ChatSpaceSample</title>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="E5mqHXVojXu0ySRgWUmGUVHSIvsJmisDh7bkifOut93nyI9E1zzrloFvWweSC2ZtJ45ploePrrEv6OZaqaDtDA==" />
<link rel="stylesheet" media="all" href="/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css" data-turbolinks-track="reload" />
<script src="/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js" data-turbolinks-track="reload"></script>
</head>
<body>
<div class='flash-box'>
</div>

<div class='wrapper'>
<div class='chat-side'>
<div class='side-header'>
<div class='side-header__box'>
<p class='side-header__box__user-name'>ssss</p>
<ul class='side-header__box__menu'>
<li class='side-header__box__menu__new-group'>
<a href="/groups/new"><i class="fa fa-edit"></i>
</a></li>
<li class='side-header__box__menu__edit-user'>
<a href="/users/252/edit"><i class="fa fa-cog"></i>
</a></li>
</ul>
</div>
</div>
<div class='groups'>
<a href="/groups/412/messages"><div class='group'>
<p class='group__group-name'>aaaa</p>
<p class='group__latest-message'>まだメッセージがありません</p>
</div>
</a><a href="/groups/383/messages"><div class='group'>
<p class='group__group-name'>1</p>
<p class='group__latest-message'>uuuu</p>
</div>
</a></div>
</div>

</div>

</body>
</html>
