!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpaceSample
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "wlHvjspJ0uuBpJf7zLYaXfS/DElux8wlJGCGZLwu2yjNlHodK/c9cUIJB0AHpUOGCoJIilOdI7sCbhtH0splUQ==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}
  %body
    .flash-box
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__box__user-name ssss
            %ul.side-header__box__menu
              %li.side-header__box__menu__new-group
                %a{:href => "/groups/new"}
                  %i.fa.fa-edit
              %li.side-header__box__menu__edit-user
                %a{:href => "/users/252/edit"}
                  %i.fa.fa-cog
        .groups
          %a{:href => "/groups/602/messages"}
            .group
              %p.group__group-name u
              %p.group__latest-message ggg
          %a{:href => "/groups/525/messages"}
            .group
              %p.group__group-name 1
              %p.group__latest-message まだメッセージがありません
          %a{:href => "/groups/412/messages"}
            .group
              %p.group__group-name aaaa
              %p.group__latest-message まだメッセージがありません
          %a{:href => "/groups/383/messages"}
            .group
              %p.group__group-name 1
              %p.group__latest-message uuuu
      .chat-main
        .main-header
          .main-header__left-box
            %h2.main-header__left-box__current-group{"data-group_id" => "383"}
              1
            %ul.main-header__left-box__member-list
              Member：
              %li.main-header__left-box__member-list__member ssss
          %a{:href => "/groups/383/edit"}
            .main-header__edit-btn Edit
        .messages
          .message{"data-message_id" => "649"}
            .message__upper-info
              %p.message__upper-info__talker ssss
              %p.message__upper-info__date 2019/08/26(Mon) 16:23:11
            %p.message__text uuuu
          .message{"data-message_id" => "650"}
            .message__upper-info
              %p.message__upper-info__talker ssss
              %p.message__upper-info__date 2019/08/26(Mon) 16:25:11
            %p.message__text iiii
        .form
          %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/383/messages", :enctype => "multipart/form-data", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "jH3t8WgceHmJiiBWFuLLaVC7mfkv6xtL+h5BeCKj5+1ruIj/piaavLyqwHjaN0O189B76k9OxW3D6annjlhCuA=="}/
            .input-box
              %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
              %label.input-box__image{:for => "message_image"}
                %i.fa.fa-image
                %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
            %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
